h1 {
    font-family: "Libre Barcode 39 Text", cursive;
    font-size: 150px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }

h2 {
  font-family: "Pixelify Sans";
  font-size: 60px;
  letter-spacing: 2px;
  margin-bottom: 0;
  text-align: center;
}

body {
  background-color:#FFD300;
}

.ing_list {
  margin: 10px;
}

.field_set {
  border-radius: 15px;
  border-style: solid;
  border-color:#FFD300;
  background-color: black;
}

.field_set > div {
  margin-bottom: 50px;
}

.ing_list > fieldset > div {
  color: #ffe56b;
  font-family: "Pixelify Sans";
  font-size: 75px;
}